* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Dosis, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 90vh;
  min-height: 100vh;
  overflow: hidden;
}

.text-yellow {
  color: #F7F249;
}

.hidden {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

#threeGenerator {
  height: 400px;
  width: 400px;
}

canvas {
  height: 400px;
  width: 400px;
}

.generator__menu {
  display: block;
}

@media (min-width: 1000px) {
  main {
    max-width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .generator__preview {
    grid-area: 1/2/5/6;
  }
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 2em;
}

input#icingColor {
  border: unset;
  background-color: white;
}

.textinput {
  display: inline-block;
  border: none;
  border-bottom: 4px solid #E72C70;
  width: 80%;
  padding: 0 1em 0 0;
}

.donutForm__item {
  display: inline-block;
  margin: 1em 0;
}

.donutForm__item label {
  margin: 1em;
}

select {
  padding: 0.5em 1em;
  border-radius: 3em;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1em 2em;
  border-radius: 3em;
  font-size: 1rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#bakeDonut:hover {
  background-color: #F7F249;
  color: #E72C70 !important;
  text-decoration: none;
}

#customerLogo {
  display: hidden;
}

.btn--yellow {
  background-color: #F7F249;
  color: #E72C70;
  font-size: 0.1em;
  border-radius: 3.5rem;
  max-width: 320px;
}

#customerLogo {
  display: inline-block;
  border: 1px solid #82D1E4;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

@media (min-width: 1000px) {
  form {
    grid-area: 2/1/5/3;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}

.header--center {
  margin: 8rem 3rem 0rem 3rem;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2rem;
  color: #E72C70;
}

@media (min-width: 1000px) {
  .header {
    grid-area: 1/1/2/6;
    text-align: left;
  }
}
.a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn--yellow {
  background-color: #F7F249;
  color: #E72C70;
  font-size: clamp(0.9rem, 1vw + 1rem, 1.5rem);
  border-radius: 3.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  max-width: 320px;
}

.btn--pink {
  background-color: #E72C70;
  color: #F7F249;
  font-size: clamp(0.9rem, 1vw + 1rem, 1rem);
  line-height: 1.25rem;
  border-radius: 3.5rem;
  width: 8.75rem;
}

.btn--back {
  background-color: none;
  color: #E72C70;
  text-decoration: underline;
  text-transform: lowercase;
}

.btn--disabled {
  color: gray;
}

nav {
  height: 76px;
}

.navigation {
  background-color: #E72C70;
  position: fixed;
  z-index: 99;
}

.navigation--top {
  top: 0;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #FFF;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-brand {
  position: fixed;
  top: 1rem;
}

.navigation--bottom {
  bottom: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em;
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.2em;
  text-transform: uppercase;
  color: #F7F249;
}

.navigation__item:hover {
  color: #82D1E4;
  text-decoration: none;
}

@media (min-width: 1000px) {
  nav.navigation--bottom {
    position: absolute;
    height: 100vh;
    width: 6rem;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 99;
    grid-area: 1/6/5/7;
  }
  .navigation__item {
    padding: 2em 0.5em;
  }
}