* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Dosis, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 90vh;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.text-yellow {
  color: #F7F249;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}

.header__center {
  margin: 3.8rem 3rem 0.8rem 3rem;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2rem;
  color: #E72C70;
}

.a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn--yellow {
  background-color: #F7F249;
  color: #E72C70;
  font-size: clamp(0.9rem, 1vw + 1rem, 1.5rem);
  border-radius: 3.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  max-width: 320px;
}

.btn--pink {
  background-color: #E72C70;
  color: #F7F249;
  font-size: clamp(0.9rem, 1vw + 1rem, 1rem);
  line-height: 1.25rem;
  border-radius: 3.5rem;
  width: 8.75rem;
}

nav {
  height: 76px;
}

.navigation {
  background-color: #E72C70;
  position: fixed;
  z-index: 99;
}

.navigation--top {
  top: 0;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #FFF;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-brand {
  position: fixed;
  top: 1rem;
}

.navigation--bottom {
  bottom: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em;
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.2em;
  text-transform: uppercase;
  color: #F7F249;
}

.navigation__item:hover {
  color: #82D1E4;
  text-decoration: none;
}

main {
  height: 40vh;
}

#threeGenerator {
  height: 400px;
  width: 400px;
}

canvas {
  height: 400px;
  width: 400px;
}

.generator__menu {
  display: block;
}