$strawberry: #E72C70;
$heaven: #82D1E4;
$lemon: #F7F249;

$light: #FFF;

$pink: #FF4C8E;
$vivid-blue: #60D1D6;
$warm-lemon: #F7E200;
$pastel-pink: #FF9C8C;
$pastel-blue: #CAE3E8;
$pastel-yellow: #F8F594;

