@use "./colors";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 90vh; //hihi alle code weg :(
  min-height: 100vh;

  overflow-y: hidden;
  overflow-x: hidden;
}

.text-yellow {
  color: colors.$lemon;
}


