@use "../colors";

.footer {
    background-color: colors.$strawberry;
    color: colors.$light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    gap: 32px;
    
}

h2.footer__header {
    text-align: center;
    font-weight: 400;
}

.footer__clients {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.rem;
    margin: 0 3rem;
}

.footer__clients__item img {
    max-width: 100%;
}
