@use "../colors";

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: flex-start;
    justify-content: center;
    text-align: center;

    color: colors.$light;
    text-transform: uppercase;
}

.header__center {
    margin: 4.6rem 3rem;
}

h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    color: colors.$strawberry;
  }  