@use "../colors";

nav {
    height: 76px;
}

.navigation {
    background-color: colors.$strawberry;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #FFF;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-brand {
    position: fixed;
    top: 1rem;
}