@use "../colors";

nav {
    height: 76px;
}

.navigation {
    background-color: colors.$strawberry;
    position: fixed;
    z-index: 99;
}

.navigation--top {
    top: 0;
}


.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #FFF;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-brand {
    position: fixed;
    top: 1rem;
}

.navigation--bottom {
    bottom: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;

}


.navigation__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .2em;
    text-transform: uppercase;
    color: colors.$lemon;
}

.navigation__item:hover {
    color: colors.$heaven;
    text-decoration: none;

}



@media (min-width: 1000px) {
    nav.navigation--bottom {
        position: absolute;
        height: 100vh;
        width: 6rem;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        z-index: 99;
        
        grid-area: 1 / 6 / 5 / 7;
    }    

    .navigation__item {
        padding: 2em .5em;
    }

    
}